@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import-normalize;

/*Setup*/

* {
    margin: 0;
    box-sizing: border-box;
}

Picture {
    Display: Block;

}

img {
    Display: block;
    Width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li, h2, h3 {
color: blue;
text-decoration: underline;
display: inline-block;
}

/* DEV STYLES */

body * {
    border: 1px solid blue;
    padding: 2px;
}


/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;

}

inner-column {
    display: block;
    border: 4px solid orange;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/* TYPOGRAPHY */
.loud-voice {
    font-size: 32px;
    font-weight: 700;
    line-weight: .9;
}

.calm-voice {
    font-size: 32px;
    line-height: 1.3;
}


/* COMPONENTS */
.button {
    display: inline-block;
    background-color: blue;
    color: white;
    font-size:1.2rem;
    padding: .6em 1em;
    border-radius:  6px;
}


/* MODULES */

panther-graphic {
    display: block;
    border: 4px solid dodgerblue;
    width: 100%;
}

panther-graphic text-content {
    display: block;
}

panther-graphic picture {

}

@media (min-width: 700px) {
    panther-graphic {
    display: flex;
    flex-direction: row-reverse;
    }
    panther-graphic :is(text-content, picture) {
    flex-basis: 50%;
    border: 1px solid blue;
    gap: 20px;
    }



header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
    
}


welcome {

}